body {
    font-size: 30px;
    font-family: "Poiret One", cursive;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}

.comment {
    width: 100%;
    float: right;
    min-height: 89px;
/*    border: 1px solid lightgray;*/
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #e9ebeb;
/*    background-color: hsla(176, 59%, 95%, 1);*/
}

.button {
    float: right;
    width: 75px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(25%);
    background-color: #4eca7d;
/*    background-color: hsla(120, 95%, 73%, 1);*/
    font-size: 40px;
    border: none;
}

.voteNum {
    float: right;
    font-size: 30px;
    top: 50%;
    position: relative;
    transform: translateY(50%);
    padding-right: 10px;
}

.edit {
    float: left;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    background-color: #e9ebeb;
    font-size: 20px; 
    border: none;
}

:focus {
    outline: none;
}

button:active {
    border: groove;
}

p {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.commentFactory {
    margin-top: 50px;
}

.postItForm {
    margin-top: 50px;
}

.postItText {
    min-height: 89px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #e9ebeb;
    width: 100%;
}

.postItSubmit {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: #4eca7d;
    font-size: 22px;
    float: right;
    padding: 10px 20px;
    color: white;
    
    
}